*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:rgb(6, 6, 41);
  color: white;
}

.a{
  font-family: 'Segoe UI';
}

img{
  border-radius: 47%;
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color:  rgb(23, 23, 93);
  position: fixed;
  width: 100%;
  top: 0%;
  overflow: hidden;
  z-index: 100;
}

nav ul{
  display: flex;
  justify-content: center;
}

nav ul li{
  list-style: none;
  margin: 0 23px;
}


nav ul li a{
  text-decoration: none;
  color: white;
}

nav ul li a:hover{
  color: rgb(116, 116, 229);
  font-size: 1.02rem;
}

#element{
  color: rgba(64, 108, 19, 0.501);
}

.education-detail{
  height: 120px;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Gill Sans';
}

@media screen and (max-width: 480px) {
  .education-detail{
    height: 160px;
  }
}

.education-detail h3{
  text-align: center;
}
.vertical{
  border-left: 6px solid rgb(81, 25, 106);
  height: inherit;
  position: absolute;
  left: 50%;
}

.education-left{
  font-family: Georgia;
  margin-top: 30px;
  width: 47%;
  animation-name: eduanime;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0, 0, 0.15, 0.98);
}

.education-right{
  font-family: Georgia;
  margin-top: 30px;
  text-align: right;
  width: 47%;
  animation-name: eduright;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0, 0, 0.15, 0.98);
}

.left{
  font-family: 'Segoe UI';
  font-size: 2rem;
}


.right{
  font-family: 'Segoe UI';
}

.vertical2{
  border-left: 6px solid rgb(81, 25, 106);
  height: 70px;
  position: absolute;
  left: 50%;
}


.vertical3{
  
  position: absolute;
  left: 1%;
}

.skill-detail{
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vertical1{
  border-left: 6px solid rgb(81, 25, 106);
  height: inherit;
  height: 295px;
  position: absolute;
  left: 50%;
}

.skill-left{
  margin-top: 30px;
  width: 47%;
  animation-name: skillleft;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0, 0, 0.15, 0.98);
}
.skill-right{
  margin-top: 30px;
  width: 47%;
  animation-name: eduright;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0, 0, 0.15, 0.98);
}

.container { 
  background-color: rgb(192, 192, 192); 
  width: 80%; 
  border-radius: 20px; 
} 

.skill { 
  background-color: rgb(116, 194, 92); 
  color: white; 
  padding: 0%; 
  text-align: center; 
  font-size: 15px; 
  border-radius: 20px; 
} 


.WEB-DEV{
  width:45%;
}

.DSA{
  width: 55%;
}

.python{
  width: 60%;
}

.PROMPT{
  width: 80%;
}

.git{
  width: 50%;
}

.linked{
  font-size: 35px;
  text-align: center;
  margin-left: 42%;
}

.github{
  font-size: 35px;
  text-align: center;
  margin-left: 4%;
}


.instagram{
  font-size: 35px;
  text-align: center;
  margin-left: 4%;
}


@keyframes eduanime {
  from{
      transform: translateX(400px)
  }
  to{

  }
}


@keyframes skillleft {
  from{
    transform: translateX(150px)
  }
  to{
    
  }
}

@keyframes eduright {
  from{
    transform: translateX(-180px)
  }
  to{
    
  }
}








